<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Pragprog Booksオンラインストア</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= image_tag("logo.png") %>
      <%= @page_title || "Pragmatic Bookshelf" %>
    </div>
    <div id="columns">
      <div id="side">
        <ul>
          <li><a href="http://www....">ホーム</a></li>
          <li><a href="http://www..../faq">よくある質問</a></li>
          <li><a href="http://www..../news">ニュース</a></li>
          <li><a href="http://www..../contact">お問い合わせ</a></li>
        </ul>
        <p>アクセス時の日時<br>
          <%= @time_d %><br>
          <%= @time_r %>
        </p>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
